<div class="container">
  <div class="row my-page">
    <div class="col-md-4">
      <%= attachment_image_tag @user, :user_image, :fill, 200, 200, fallback: "no_image.png" %>
    </div>
    <div class="col-md-8">
      <h4><%= @user.name %> さんのページ</h4>
      <table>
        <tr>
          <td>レシピ（<%= link_to "#{@recipes.count}", root_path %>）</td>
          <td>コメント（<%= link_to "#{@comments.count}", root_path %>）</td>
        </tr>
        <tr>
          <td>フォロー（<%= @user.active_relationships.count %>）</td>
          <td>フォロワー（<%= @user.passive_relationships.count %>）</td>
        </tr>
      </table>
      <div class="user-introduction">
        <%= @user.introduction %>
      </div>
      <div class="col-md-12">
        <% if @user.id == current_user.id %>
          <%= link_to 'プロフィールを書き換える', edit_user_path(current_user.id), class:"btn" %>
        <% elsif current_user.following?(@user) %>
          <%= link_to 'フォロー中', user_relationship_path(@user), method: :delete, class:"btn" %>
        <% else %>
          <%= link_to 'フォローする', user_relationships_path(@user), method: :post, class:"btn" %>
        <% end %>        
      </div>
    </div>
  </div>
  <div class="row">
    
    <div class="wrap">
      <ul id="tab-menu">
        <% if @user.id == current_user.id %>
          <li><a href="#tab1" class="active">レシピを書く</a></li>
          <li><a href="#tab2" class="">書いたレシピ</a></li>
          <li><a href="#tab3" class="">いいねしたレシピ</a></li>
          <li><a href="#tab4" class="">フォローしているユーザ</a></li>
        <% else %>
          <li><a href="#tab2" class="active">書いたレシピ</a></li>
          <li><a href="#tab3" class="">いいねしたレシピ</a></li>
          <li><a href="#tab4" class="">フォローしているユーザ</a></li>
        <% end %>
      </ul>
      <div id="tab-contents">
        <div id="tab1" class="tab">
          <%= render 'recipes/recipe_form', recipe: @recipe %>          
        </div>
        <div id="tab2" class="tab">
          <% if @recipes.exists? %>
            <%= render 'recipes/recipes_list', recipes: @recipes %>
          <% else %>
            <p>書いたレシピはまだありません</p>
          <% end %>
        </div>
        <div id="tab3" class="tab">
          <p>いいねしたレシピが表示されます</p>
        </div>
        <div id="tab4" class="tab">
          <table class="table">
            <% @user.followed_users.each do |follow| %>
            <tr>
              <td><%= link_to user_path(follow) do %>
                  <%= attachment_image_tag follow, :user_image, :fill, 100, 100, fallback: "no_image.png" %><br />
                  <%= follow.name %>
                <% end %>
              </td>
              <td><%= follow.introduction %></td>
              <td>レシピ <%= follow.recipes.count %> 件</td>
            </tr>
            <% end %>
          </table>

        </div>
      </div>
    </div>

  </div>
</div>